/* Estilos base para el editor de diagrama UML */
.diagram-canvas {
	min-height: 600px;
	height: 600px;
	width: 100%;
	overflow: auto;
}
.pButton {
	@apply shadow hover:shadow-lg transition duration-150;
}

/* Animación de spinner para loading */
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
